includes:

parameters:
    paths:
        - src/

    # Level 10 is the highest level
    level: max

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php